$color-gray: #666;
$color-light-gray: #aaa;
$font-logo__color: #00b28c;
$font-logo__family: 'Questrial', sans-serif;
$font-logo__font-size: 24px;
$font-logo__font-weight: 700;
$font-logo__letter-spacing: 2px;
$font-menu__font-size: 12px;
$font-shadow: 0px 1px 3px #333;
$footer__bg-color: #272e36;
$gradient-spacer__color-start: #fff;
$gradient-spacer__color-end: $font-logo__color;
$gradient-spacer__height: 10px;
$gradient-spacer__width: 100%;
$icon-size: 25px;
$navbar-toggler__size: 24px;